@import "./partials/spacing";
@import "./partials/mixins";
@import "./partials/colors";
@import "./partials/font";
@import "./partials/reset";
@import "./partials/buttons";
// @import "./partials/animations";

header {
  .navBar {
    ul {
      list-style: none;
      margin-top: $size-0;
      display: inline-flex;
      justify-content: space-between;
    }
    li {
      display: inline-block;
      padding: $size-2;
    }
    a {
      text-decoration: none;
    }

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: $size-5;
  }
}

main {
  .hero {
    background-color: $header-color;
    display: flex;
    width: 75%;
    margin-inline: auto;
    justify-content: space-between;
    padding: $size-3;

    h1 {
      @include titleBig($text-color-dark, $size-5, $title-font);
      animation: goIn 2s linear;
    }
    p {
      @include description($text-color-dark, $size-4, $title-font);
      animation: goIn 2s linear;
    }
  }
}

.heroImg {
  img {
    width: 500px;
    animation: goIn 2s linear;
    @include floating($b-radius: $size-1, $border: 1px solid $header-color);
  }
}

.secContainer {
  display: flex;
  justify-content: space-around;
  margin-inline: auto;
  width: 75%;

  padding: $size-3;
}

.img1 {
  img {
    width: 200px;
    justify-content: space-between;
    @include floating($b-radius: $size-2, $border: none);
  }
}

.img2,
.img3,
.img4 {
  @extend .img1;
}

@keyframes goIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
