.btn1 {
  @include buttons($buttons-color, $first-btn-color, $size-5);
  padding: $size-2;
  animation: goIn 2s ease;

  &:hover {
    background-color: blue;
    color: white;
  }
}

.btn2 {
  @include buttons($buttons-color, $second-btn-color, $size-5);
  padding: $size-2;
  animation: goIn 2s ease;
  &:hover {
    background-color: blue;
    color: white;
  }
}

.btn3 {
  @include buttons($buttons-color, $third-btn-color, $size-5);
  padding: $size-2;
  animation: goIn 2s ease;
  &:hover {
    background-color: blue;
    color: white;
  }
}
