$bg-color-primary: lightgreen;

$text-color-dark: black;
$main-color: purple;
$secondary-color: blue;
$header-color: lightgray;
$tertiary-color: palegreen;
$sans-serif: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$serif: "Georgia", serif;

// Buttons Color

$first-btn-color: #0e6cff;
$second-btn-color: #ff8700;
$third-btn-color: #4caf50;

// Buttons Text Color

$buttons-color: #f4f4f4;
