$bg-color-primary: lightgreen;

$main-color: purple;
$secondary-color: blue;
$header-color: lightgray;
$tertiary-color: palegreen;
$sans-serif: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$serif: "Georgia", serif;
