@mixin titleBig($color, $f-size, $font) {
  font-weight: 700;
  padding: $padding-block-3;
  color: $color;
  font-size: $f-size;
  font-family: $font;
}

@mixin description($color, $f-size, $font) {
  font-weight: 500;
  color: $color;
  font-size: $f-size;
  font-family: $font;
}

@mixin buttons($font-color: white, $bgColor: black, $radius) {
  color: $font-color;
  font-family: "Inter";
  background-color: $bgColor;
  border: none;
  border-radius: $radius;
  pointer: cursor;
}

@mixin floating($b-radius: $size-3, $b-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.75), $border: 1px solid black) {
  border-radius: $b-radius;
  box-shadow: $b-shadow;
  border: $border;
}

@mixin grid($n-element) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  & > * {
    padding: $padding-inline-2;
    width: calc(100% / $n-element);
  }
}
